In [2]:
articles=[]
with open("examples/satire_train.txt") as f:
    text= f.read()
    articles__ = text.split("******")
    for a in articles__:
        articles.append(a)

In [3]:
articles_=[]
with open("examples/satire_test.txt") as f:
    text= f.read()
    articles_ = text.split("******")
    for a in articles_:
        articles.append([a])

In [4]:
len(articles)
import pandas as pd
intermediate = pd.DataFrame(articles,columns=['text'])

In [5]:
intermediate.insert(len(intermediate.columns),'label', 'SATIRICAL')

In [89]:
d = pd.read_csv("/mnt/c/Users/annag/Desktop/Sarcasm_Detection/examples/satirical_dat.csv")

In [90]:
ex = str(d[d['label']=='FAKE'].sample(n=1)['text'])

In [72]:
ex.replace("[")

26645

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, title, text, label, Unnamed: 0.1.1]
Index: []